<%- include('header') -%>
<div class="container">
  <h1 class="text-center">The temperature in <%= theCity %> is currently <%= theTemperature %> degrees <%= theUnits %>, and the humidity is at <%= theHumidity %>.</h1>
  <p style="text-align:center;">We've got some <%= theWeatherDescription %> today!</p>
  <img src=<%= theImgUrl%> alt="weather icon">
</div>

<%- include('footer') -%>